# Do not track anything except for explicitly allowed
/*

# Track gitignore rules
!.gitignore

# Do not track .config directory but allow to include sub-directories if needed
!.config/
.config/*

# Vim configuration
!.config/vim
.config/vim/*
!.config/vim/.vimrc
!.vimrc

# Zsh configuration
!.config/zsh/
!.zshrc

# Vimperator config
!.vimperatorrc

# tmux config
!.tmux.conf
